/* Estilizando o botão */
.button-cota {
    -fx-background-color: white;
    -fx-border-color: #ccc; /* Cor da borda opcional */
    -fx-border-width: 2px;
    -fx-alignment: center;
}

/* Efeito ao passar o mouse */
.button:hover {
    -fx-background-color: #f0f0f0;
    -fx-cursor: hand;
}


/* Estilizando a imagem dentro do botão */
.button .graphic {
    -fx-fit-width: 30px;
    -fx-fit-height: 30px;
}

/* Estilizando o texto do botão */
.button .text-maior {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button .text-menor {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

